<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
</div>
<div class="row mt-3">


  <div class="card col-md-4">
    <div class="card-header">
      瀏覽數
    </div>
    <div class="card-body">
      <h2>{{restaurant.viewCounts}}</h2>
    </div>
  </div>

  <div class="card col-md-4">
    <div class="card-header">
      評論數
    </div>
    <div class="card-body">
      <h2>{{comments_cnt}}</h2>
    </div>
  </div>

  <div class="card col-md-4">
    <div class="card-header">
      收藏數
    </div>
    <div class="card-body">
      <h2>0</h2>
    </div>
  </div>

</div>